@model Surat.Models.Entities.AkunSaya

@{  var imagePath = "../resources/images/tn64.jpg";
    string nip = (User.Identity as Surat.Models.Entities.InternalUserIdentity).PegawaiId;

    Surat.Models.AccountModel model = new Surat.Models.AccountModel();

    string foto = model.GetFotoPegawai(nip);

    if (!string.IsNullOrEmpty(foto))
    {
        if (Model.tipeakun.Equals("ASN"))
        {
            imagePath = "https://simpeg.atrbpn.go.id/app/client/bpn/uploads/siap/foto/" + foto;
        }
        else if (Model.tipeakun.Equals("PPNPN"))
        {
            imagePath = "https://mitra.atrbpn.go.id/ppnpn/" + foto;
        }
    }
}


<style>
    input {
        width: 100%;
        padding: 10px;
        margin: 0px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid #CCC;
    }
</style>

<div class="" id="editpanel">
    <div class="page-title">
        <div class="title_left"><h2 style="width:100%"><span id="LabelTitle">Penggantian Sandi Berkala</span></h2></div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>

    <div class="x_panel" style="padding-top:30px">
        <div class="x_content" style="padding-bottom:30px">
            <form class="form-horizontal form-label-left" id="frmInputUser" role="form">
                @Html.HiddenFor(m => m.DataUserData.userid, new { @id = "UserId" })
                @Html.HiddenFor(m => m.DataUserData.pegawaiid, new { @id = "PegawaiId" })
                @Html.HiddenFor(m => m.tipeakun)
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <img src='@imagePath' alt="" width="150" height="186">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="color: #cccccc;">Nama</label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        @Html.TextBoxFor(m => m.DataUserData.namapegawai, new { @class = "form-control", type = "text", @id = "namapegawai", @readonly = "readonly", @style = "background-color:white; color:#b0b0b0;" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="color: #cccccc;">NIP</label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        @Html.TextBoxFor(m => m.DataUserData.pegawaiid, new { @class = "form-control", type = "text", @id = "pegawaiid", @readonly = "readonly", @style = "background-color:white; color:#b0b0b0;" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="color: #cccccc;">Username</label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        @Html.TextBoxFor(m => m.DataUserData.username, new { @class = "form-control", @id = "txtusername", @readonly = "readonly", @style = "background-color:white; color:#b0b0b0;" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" style="color: #cccccc;">Email</label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        @Html.TextBoxFor(m => m.DataUserData.email, new { @class = "form-control", @id = "txtemail", @readonly = "readonly", @style = "background-color:white; color:#b0b0b0;" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Nomor Telepon <span style="color:red">*</span></label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        @Html.TextBoxFor(m => m.nomortelepon, new { @class = "form-control", @id = "txtnomortelepon" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Sandi baru  <span style="color:red">*</span></label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        @Html.PasswordFor(m => m.DataUserData.password, new { @class = "form-control", @id = "txtpassword", @autocomplete = "off", @minlength = "8" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Konfirmasi Sandi Baru <span style="color:red">*</span></label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        @Html.PasswordFor(m => m.DataUserData.konfirmasipassword, new { @class = "form-control", @id = "txtkonfirmasipassword", @autocomplete = "off", @minlength = "8" })
                    </div>
                </div>
                @*<div class="ln_solid"></div>*@
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button id="btnsimpanuser" type="submit" class="btn btn-primary">Simpan</button>
                        <a href="@Url.Action("LogOff", "Account")" class="btn btn-success">Keluar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).keydown(function (event) {
        if (event.keyCode == 123) { // Prevent F12
            return false;
        } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) { // Prevent Ctrl+Shift+I
            return false;
        } else if (event.keyCode === 27 || event.keyCode === 13) { // Prevent Esc
            return false;
        }
    });
    $("#frmInputUser").submit(function (e) {
        showloading("Mengecek Isian Penggantian Sandi");

        // Validasi Input
        var vcheck_phone = $('#txtnomortelepon').val();
        var vcheck_password = $('#txtpassword').val();
        var vcheck_confirm = $('#txtkonfirmasipassword').val();

        if (vcheck_phone == '' ||
            vcheck_password == '' ||
            vcheck_confirm == '') {
            swal("Peringatan", "Data input wajib belum Anda masukkan", "warning")
            return false;
        }

        var regex = /^[A-Za-z0-9]+$/;
        var isValid = regex.test(vcheck_password);
        if (!isValid) {
            swal("Peringatan", "Sandi tidak boleh menggunakan spesial karakter", "warning")
            return false;
        }
        if (!/[A-Z]/.test(vcheck_password)) {
            swal("Peringatan", "Sandi harus mengandung huruf besar", "warning")
            return false;
        } else if (!/[a-z]/.test(vcheck_password)) {
            swal("Peringatan", "Sandi harus mengandung huruf kecil", "warning")
            return false;
        } else if (!/[0-9]/.test(vcheck_password)) {
            swal("Peringatan", "Sandi harus mengandung angka", "warning")
            return false;
        } else if (vcheck_password.length < 8) {
            swal("Peringatan", "Sandi minimal 8 karakter", "warning")
            return false;
        }

        if (vcheck_password != vcheck_confirm) {
            swal("Peringatan", "Sandi dan Konfirmasi Sandi harus sama", "warning")
            return false;
        }

            swal({
                title: "Konfirmasi Penyimpanan",
                text: "Penggantian Sandi",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ya",
                cancelButtonText: "Batal",
                showLoaderOnConfirm: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UpdateAkunSaya", "Admin")',
                            data: { tip: $('#tipeakun').val(), tlp: vcheck_phone, pss: vcheck_password },
                            success: function (data, textStatus, XMLHttpRequest) {
                                if (data.Status) {
                                    swal({
                                        title: 'Informasi',
                                        text: 'Sandi Berhasil Diganti',
                                        icon: 'success'
                                    },function () {
                                            window.location.replace("@Url.Action("Index", "Home")");
                                    });
                                }
                                else {
                                    swal("Peringatan", data.Pesan, "warning")
                                }
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                swal(textStatus, "Terjadi Kesalahan \n" + errorThrown, "warning");
                            }
                        });
                    }
                });
        e.preventDefault();
        return false;
    });


    $(document).ready(function () {
        $('.select2_single').select2({ width: 'resolve' });
    });
</script>

