@model Surat.Models.Entities.DokumenTTE

@{
    var lstJenisDokumen = new List<SelectListItem>();
    lstJenisDokumen.Add(new SelectListItem { Text = "Biasa", Value = "Biasa" });
    lstJenisDokumen.Add(new SelectListItem { Text = "Rahasia", Value = "Rahasia" });
    var lstPosisiTTE = new List<SelectListItem>();
    lstPosisiTTE.Add(new SelectListItem { Text = "Halaman Terakhir", Value = "terakhir" });
    lstPosisiTTE.Add(new SelectListItem { Text = "Halaman Pertama", Value = "pertama" });
    var lstnull = new List<SelectListItem>();
            }
            <script src='@Url.Content("~/resources/js/jquery.form.js")' type="text/javascript"></script>

            <style>
                .formisian {
                    max-width: 350px;
                }

                .date {
                    max-width: 200px;
                }

                .btn-file {
                    position: relative;
                    overflow: hidden;
                }

                    .btn-file input[type=file] {
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 100px;
                        text-align: right;
                        filter: alpha(opacity=0);
                        opacity: 0;
                        background: red;
                        cursor: inherit;
                        display: block;
                    }

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 80px;
                    height: 34px;
                }

                    .switch input {
                        display: none;
                    }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    transition: .4s;
                }

                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        transition: .4s;
                    }

                /* include generated hidden field here */
                input[type="checkbox"]:checked + input[type="hidden"] + .slider,
                input[type="checkbox"]:checked + .slider {
                    background-color: #2196F3;
                }

                /* include generated hidden field here */
                input[type="checkbox"]:focus + input[type="hidden"] + .slider,
                input[type="checkbox"]:focus + .slider {
                    box-shadow: 0 0 1px #2196F3;
                }

                /* include generated hidden field here */
                input[type="checkbox"]:checked + input[type="hidden"] + .slider:before,
                input[type="checkbox"]:checked + .slider:before {
                    transform: translateX(46px);
                }

                /* Rounded sliders */
                .slider.round {
                    border-radius: 24px;
                }

                    .slider.round:before {
                        border-radius: 50%;
                    }

                .error {
                    color: #ad1010;
                    font-family: 'Varela Round', sans-serif;
                    font-style: oblique;
                }
            </style>
            <script type="text/javascript">
                $(function () {
                    $.validator.unobtrusive.parse(this);
                });
            </script>
            <div class="">
                <div class="page-title">
                    <div class="title_left"><h2 style="width:100%"><span id="LabelTitle">Entri Dokumen Elektronik - <b>@ViewBag.Judul</b></span></h2></div>
                    <div class="title_right" style="text-align:right;">
                        <div class="pull-right">
                            <span class="input-group-btn" style="padding-right:2px;">
                                <button id="cancel-btn" type="button" class="btn btn-warning" onclick="history.back();">Kembali</button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row x_panel tile" style="padding-top:7px; border:1px solid #E6E9ED;">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="x_title">
                            <h2>Pengenal Dokumen</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="">
                                <div class="x_panel">
                                    <form data-parsley-validate id="frmPengajuanTTE" role="form" method="post">
                                        <div class="form-group">
                                            <label class="control-label" for="tanggalsurat">Tanggal <span style="color:red">*</span></label>
                                            <div class='input-group date' style="margin-bottom: 0px;">
                                                @Html.TextBoxFor(model => model.TanggalSurat, new { @class = "form-control", @id = "tanggalsurat", @required = "required" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            <small>@Html.ValidationMessageFor(model => model.TanggalSurat, "", new { @class = "error" })</small>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="posisitte">Posisi TTE <span style="color:red">*</span></label>
                                            @Html.DropDownListFor(model => model.PosisiTTE, lstPosisiTTE, new { @class = "form-control formisian", @id = "posisitte", @required = "required" })
                                            <small>@Html.ValidationMessageFor(model => model.PosisiTTE, "", new { @class = "error" })</small>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="file-input">File <span style="color:red">*</span></label>
                                            <input id="file-input" type="file" multiple />
                                            <small id="errFiles" class="error"></small>
                                        </div>
                                        <div class="form-group">
                                            @if (@OtorisasiUser.isTU())
                                            {
                                                <button type="submit" id="btnSimpan" class="btn btn-primary">Kirim Pengajuan</button>
                                            }
                                        </div>
                                        <div class="form-group" id="errDiv">
                                            <label class="control-label error" for="lstError">List Gagal Unggah</label>
                                            @Html.ListBox("lstError",lstnull, new { @class = "form-control formisian" })
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (@OtorisasiUser.isTU())
                    {
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="x_title">
                                <h2>Penandatangan Dokumen</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="">
                                    <div class="x_panel">
                                        <div class="form-group">
                                            <table class="table table-striped table-bordered" style="width:100%;margin-bottom:0px;">
                                                <tr>
                                                    <th style="width:152px">NIP</th>
                                                    <th style="width:123px">Nama</th>
                                                    <th>Jabatan</th>
                                                    <th style="width:100px">Tipe</th>
                                                    <th style="width:57px"></th>
                                                </tr>
                                            </table>
                                            <div class="table-responsive" style="margin-bottom:0px;overflow-y:scroll;height:200px;">
                                                <table id="tblPenandatangan" class="table table-striped table-bordered" style="width:100%;">
                                                    <tbody id="datatte"><tr><td colspan="5" style="text-align:center;">Penandatangan Kosong</td></tr></tbody>
                                                </table>
                                            </div>
                                            @Html.Hidden("UserTTE")
                                            <button id="BtnTambahTandaTangan" type="button" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Tanda Tangan</button>
                                            <button id="BtnTambahParaf" type="button" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Paraf</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div id='ListPegawaiModal' class='modal'>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id='myModalContent'>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel" style="padding:20px">
                                    <div class="x_title">
                                        <h2 id="popuptitle">Daftar Pegawai</h2>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="table-responsive" style="padding-right:10px;">
                                                <form id="frmDaftarPegawai">
                                                    <div class="form-group">
                                                        <label class="control-label" for="txtJabatan">Jabatan</label>
                                                        @Html.TextBox("txtJabatan", "", new { @class = "form-control" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="txtNama">Nama</label>
                                                        @Html.TextBox("txtNama", "", new { @class = "form-control" })
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-success" id="btncaripegawai">Cari</button>
                                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Batal</button>
                                                    </div>
                                                </form>
                                                <table id="myTableDaftarPegawai" class="table table-striped hover" style="width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:5%">#</th>
                                                            <th>NIP</th>
                                                            <th>Nama</th>
                                                            <th>Jabatan</th>
                                                            <th style="width:10%">Pilih</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script src='@Url.Content("~/resources/js/pdfobject.min.js")'></script>
            <script type="text/javascript">
                $(function () {
                    $("div#loading").hide();
                });

                var fileInput = document.getElementById('file-input');
                var fileList = [];
                fileInput.addEventListener('change', function (ebnt) {
                    fileList = [];
                    for (var i = 0; i < fileInput.files.length; i++) {
                        fileList.push(fileInput.files[i]);
                    }
                });

                var fileCatcher = document.getElementById('frmPengajuanTTE');
                var prog = 0;
                var progTotal = 0;
                var err = 0;

                fileCatcher.addEventListener('submit', function (evnt) {
                    evnt.preventDefault();

                    if ($("#frmPengajuanTTE").valid()) {
                        swal({
                            title: "Konfirmasi Setuju Pengajuan",
                            text: "Masukkan PassPhrase untuk memberikan Paraf",
                            type: "input",
                            inputType: "password",
                            showCancelButton: true,
                            closeOnConfirm: false,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Ya",
                            cancelButtonText: "Batal",
                            inputPlaceholder: "Kosongkan untuk kirim tanpa memberikan paraf",
                            showLoaderOnConfirm: true
                        },
                            function (inputValue) {
                                if (inputValue === false) return false;
                                prog = 0;
                                err = 0;
                                progTotal = fileList.length;
                                fileList.forEach(function (file) {
                                    sendFile(file, inputValue);
                                });
                            });
                    }
                });

                sendFile = function (file, inputValue) {
                    $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });

                    var frmdata = new FormData();
                    if (file !== null) {
                        var namafile = file.name;
                        var fileExt = '.' + namafile.toLowerCase().split('.').pop();
                        if (fileExt !== null && fileExt !== '') {
                            if (fileExt != ".pdf") {
                                $.unblockUI();
                                $("#lstError").addItems(namafile + " || File harus pdf");
                                $('#errDiv').show();
                                return false;
                            }
                            frmdata.append("NomorSurat", namafile.substr(0, namafile.lastIndexOf('.')));
                            frmdata.append("NamaFile", namafile);
                            frmdata.append("Ekstensi", fileExt);
                        }
                        else {
                            $.unblockUI();
                            $("#lstError").addItems(namafile + " || File tidak diketemukan");
                            $('#errDiv').show();
                            return false;
                        }
                    }
                    else {
                        $.unblockUI();
                        $("#lstError").addItems(namafile + " || File wajib dipilih");
                        $('#errDiv').show();
                        return false;
                    }
                    frmdata.append("Perihal", "Pengajuan Banyak File");
                    frmdata.append("TanggalSurat", $('#tanggalsurat').val());
                    frmdata.append("PosisiTTE", $('#posisitte').val());
                    frmdata.append("file", file);

                    recheckPenandatangan();
                    var metadata = $('#UserTTE').val();
                    if (metadata == "") {
                        $.unblockUI();
                        $("#lstError").addItems(namafile + " || Penandatangan Harus Dipilih");
                        $('#errDiv').show();
                        return false;
                    }
                    frmdata.append("listTTE", metadata);
                    frmdata.append("Pass", inputValue);
                    frmdata.append("GenerateFooter", false);

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SimpanPengajuan", "TandaTanganElektronik")',
                        data: frmdata,
                        contentType: false,
                        processData: false,
                        success: function (data, textStatus, XMLHttpRequest) {
                            if (data.Status) {
                            }
                            else {
                                $("#lstError").addItems(namafile + " || " + data.Pesan);
                                $('#errDiv').show();
                                err += 1;
                            }
                            prog += 1;
                            if (prog == progTotal) {
                                if (err == 0) {
                                    swal({
                                        title: "Informasi",
                                        text: "Pembuatan Dokumen Berhasil",
                                        type: "success",
                                        timer: 1000,
                                        showConfirmButton: false
                                    }, function () {
                                        window.location.href = '@Url.Action("PengajuanTTE", "TandaTanganElektronik")';
                                    });
                                } else {
                                    swal("Informasi", "Ditemukan masalah.", "warning")
                                }
                            }
                            $.unblockUI();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) { $.unblockUI(); }
                    });
                };
                
                var tte = "0";

                $("#BtnTambahParaf").on("click", function (e) {
                    tte = "0"
                    $("#txtJabatan").val("");
                    $("#txtNama").val("");
                    dtableDaftarPegawai.ajax.reload(null, true);
                    $('#popuptitle').html('Daftar Pegawai');
                    $('#ListPegawaiModal').modal('show');

                    e.preventDefault();
                    return false;
                });

                $("#BtnTambahTandaTangan").on("click", function (e) {
                    tte = "1"
                    $("#txtJabatan").val("");
                    $("#txtNama").val("");
                    dtableDaftarPegawai.ajax.reload(null, true);
                    $('#popuptitle').html('Daftar Pegawai');
                    $('#ListPegawaiModal').modal('show');

                    e.preventDefault();
                    return false;
                });

                $("#btncaripegawai").on("click", function (e) {
                    dtableDaftarPegawai.ajax.reload(null, true);
                });

                $("#btntolak").on("click", function (e) {
                    var dokid = $('#DokumenElektronikId').val(); 
                    if (dokid !== null && dokid !== '') {
                        swal({
                            title: "Konfirmasi Tolak Pengajuan",
                            text: "No. Surat : " + $('#nomorsurat').val() + "\nHarap masukkan alasan",
                            type: "input",
                            showCancelButton: true,
                            closeOnConfirm: false,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Ya",
                            cancelButtonText: "Batal",
                            inputPlaceholder: "Alasan",
                            showLoaderOnConfirm: true
                        },
                            function (inputValue) {
                                if (inputValue === false) return false;
                                $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
                                var frm = {
                                    id: dokid,
                                    alasan: inputValue
                                };
                                $.ajax({
                                    url: '@Url.Action("TolakPengajuan", "TandaTanganElektronik")',
                                    type: "POST",
                                    data: frm,
                                    success: function (data, textStatus, jqXHR) {
                                        if (data && data.Status) {
                                            window.location.href = '@Url.Action("PersetujuanTTE", "TandaTanganElektronik")';
                                            swal("Informasi", data.Pesan, "success")
                                        }
                                        else {
                                            swal("Peringatan", data.Pesan, "warning")
                                        }
                                        $.unblockUI();
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) { showmsg("Error", errorThrown); $.unblockUI(); }
                                });
                            });
                    } else {
                        swal("Peringatan", 'Dokumen tidak ditemukan', "warning");
                    }
                });

                // LIST PEGAWAI -------------------------------

                var dtableDaftarPegawai;
                var createPagingPenandatangan = function () {
                    dtableDaftarPegawai = $('#myTableDaftarPegawai').DataTable({
                        "bLengthChange": false,
                        "paging": true,
                        "pageLength": 10,
                        "bFilter": false,
                        "ordering": false,
                        "info": false,
                        "processing": true,
                        "serverSide": true,
                        "ajax": {
                            url: '@Url.Action("GetPegawaiByJabatanNama", "TandaTanganElektronik")',
                            type: "POST",
                            data: function (data) { var ftp = $('#frmDaftarPegawai').serializeArray(); data.form = ftp; ftp.push({ name: "draw", value: data.draw }, { name: "start", value: data.start }, { name: "length", value: data.length }, { name: "metadata", value: $('#UserTTE').val() }, { name: "namajabatan", value: $('#txtJabatan').val() }, { name: "namapegawai", value: $('#txtNama').val() }, { name: "tipe", value: tte }); return ftp; }
                        },
                        "columns": [
                            { "data": "RNumber", "className": "centertaligncolumn", "width": "5%" },
                            { "data": "PegawaiId" },
                            { "data": "Nama" },
                            { "data": "Jabatan" },
                            {
                                "data": "Pilih",
                                "className": "centertaligncolumn",
                                "width": "10%",
                                render: function () {
                                    return '<i class="fa fa-check" style="cursor: pointer; color:#b72a2a;"></i>';
                                }
                            }
                        ]
                    });
                };

                $('#myTableDaftarPegawai tbody').delegate('tr i', 'click', function (e) {
                    e.preventDefault();
                    var data = dtableDaftarPegawai.row($(this).closest('tr')).data();
                    var metadata = data.PegawaiId;
                    if ($('#datatte').html().indexOf("Penandatangan Kosong") != -1) {
                        $('#datatte').html("");
                    }
                    var tipe = "Paraf";
                    if (tte == "1") {
                        $('#BtnTambahParaf').hide();
                        $('#BtnTambahTandaTangan').hide();
                        $('#btnSimpan').prop('disabled', false);
                        tipe = "Tanda Tangan";
                    }
                    $('#datatte').append("<tr><td style='width: 152px'><label style='display:none;'>" + data.PegawaiId + "," + tte + "</label>" + data.PegawaiId + "</td><td style='width: 123px'>" + data.Nama + "</td><td>" + data.Jabatan + "</td><td style='width: 100px'>" + tipe + "</td><td style='width: 40px;cursor: pointer;' onclick='hapusPenandatangan(this)'><i class='fa fa-trash'></i></td></tr>");
                    metadata += "," + tte;
                    $('#UserTTE').val($('#UserTTE').val() + "|" + metadata);
                    $('#ListPegawaiModal').modal('hide');
                });

                function hapusPenandatangan(e) {
                    $(e).closest("tr").remove();
                    recheckPenandatangan();
                }

                function recheckPenandatangan() {
                    var $tbltte = $("#datatte label");
                    var $datas = "";
                    $('#BtnTambahParaf').show();
                    $('#BtnTambahTandaTangan').show();
                    $('#btnSimpan').prop('disabled', true);
                    $.each($tbltte, function (i, item) {
                        if ($datas != "") $datas += "|"
                        $datas += $(this).html();
                        if ($(this).html().indexOf(",1") != -1) {
                            $('#BtnTambahParaf').hide();
                            $('#BtnTambahTandaTangan').hide();
                            $('#btnSimpan').prop('disabled', false);
                        }
                    });
                    $('#UserTTE').val($datas);
                }


                $(document).ready(function () {
                    $.unblockUI();
                    
                    $('#errDiv').hide();
                    $.validator.methods.number = function (value, element) {
                        return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:\.\d{3})+)?(?:,\d+)?$/.test(value);
                    }

                    $('.select2_single').select2({ width: 'resolve' });

                    $('#tanggalsurat').datetimepicker({
                        format: 'DD/MM/YYYY',
                        locale: 'id'
                    });

                    $('#ListPegawaiModal').on('shown.bs.modal', function () {
                        $(this).find('.modal-dialog').css({
                            width: '98%',
                            height: '98 %',
                            'max-height': '98%'
                        });
                    });

                    createPagingPenandatangan();
                        
                });
            </script>
