@model Surat.Models.Entities.CariExpoSertipikat

<script src='@Url.Content("~/resources/js/infiniteScroll.js")'></script>

<div class="" id="dynamic_content">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Proses Tanda Tangan Elektronik Khusus Virtual Expo 2020
            </h3>
        </div>
        <div class="title_right">
            <form class="form-horizontal" id="frmCariDokumenTTE" method="post">
                <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Metadata, new { @class = "form-control", @id = "metadata", @placeholder = "Pencarian..." })
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btnCari"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="clearfix"></div>

    <table id="tblSuratTTE" class="table table-striped table-bordered" style="width:100%; background-color:white;">
        <thead>
            <tr>
                <th colspan="7">
                    <button id="btnTTE" type="button" class="btn btn-success"><i class="fa fa-pencil-square-o"></i> Proses @ViewBag.total Sertifikat</button>
                </th>
            </tr>
            <tr>
                <th style="text-align:center;width:5px">#</th>
                <th>Nama Acara</th>
                <th style="text-align:center;width:150px">Tanggal Acara</th>
                <th style="text-align:center;width:100px">Nama Peserta</th>
                <th style="text-align:center;width:50px;"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id='myModalDocViewer' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var dtableDaftarSuratTTE;
    var createPagingSuratTTE = function () {
        dtableDaftarSuratTTE = $('#tblSuratTTE').DataTable({
            "bLengthChange": false,
            "paging": true,
            "pageLength": 20,
            "bFilter": false,
            "ordering": false,
            "info": false,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: '@Url.Action("DaftarSertipikat", "TandaTanganElektronik")',
                type: "POST",
                data: function (data) { var ftp = $('#frmCariDokumenTTE').serializeArray(); data.form = ftp; ftp.push({ name: "draw", value: data.draw }, { name: "start", value: data.start }, { name: "length", value: data.length }, { name: "tipe", value: "proses" }); return ftp; }
            },
            "columns": [
                { "data": "RNumber", "className": "centertaligncolumn", "width": "5px" },
                { "data": "NamaAcara", "width": "200px" },
                { "data": "TanggalAcara", "className": "centertaligncolumn", "width": "150px" },
                { "data": "NamaPeserta" },
                {
                    "data": null,
                    "className": "centertaligncolumn",
                    "width": "60px",
                    "render": function (data, type) {
                        return '<i class="fa fa-eye" style="cursor: pointer;" title="Lihat Dokumen" ></i>';
                        //return '<i class="fa fa-eye" style="cursor: pointer;" title="Lihat Dokumen" ></i>&nbsp;&nbsp;&nbsp;<b class="fa fa-pencil-square-o" title="Proses TTE" style="cursor: pointer;"></b>';
                    }
                }
            ]
        });
    };

    $("#btnTTE").click(function (e) {
        swal({
            title: "Konfirmasi TTE",
            text: "Proses @ViewBag.total Sertifikat ,\nHarap masukkan PassPhrase anda",
            type: "input",
            inputType: "password",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ya",
            cancelButtonText: "Batal",
            inputPlaceholder: "PassPhrase",
            showLoaderOnConfirm: true
        },
            function (inputValue) {
                if (inputValue) {
                    $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });

                    var frm = {
                        pps: inputValue
                    };

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ProsesPenandatangananExpoAll", "TandaTanganElektronik")',
                        data: frm,
                        success: function (data, textStatus, XMLHttpRequest) {
                            if (data && data.Status) {
                                dtableDaftarSuratTTE.ajax.reload(null, true);
                                swal("Informasi", data.Pesan, "success")
                            }
                            else {
                                swal("Peringatan", data.Pesan, "warning")
                            }
                            $.unblockUI();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) { }
                    });
                }
            });
    });

    var hapusDokumen = function (id, nmr) {
        if (id !== null && id !== '') {
            swal({
                title: "Konfirmasi Penghapusan Dokumen",
                text: "No. Surat : " + nmr + "\nHarap masukkan alasan",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ya",
                cancelButtonText: "Batal",
                inputPlaceholder: "Alasan"
            },
                function (inputValue) {
                    if (inputValue === false) return false;
                    $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
                    var frm = {
                        id: id,
                        alasan: inputValue
                    };
                    $.ajax({
                        url: '@Url.Action("HapusDokumen", "TandaTanganElektronik")',
                        type: "POST",
                        data: frm,
                        success: function (data, textStatus, jqXHR) {
                            if (data && data.Status) {
                                dtableDaftarSuratTTE.ajax.reload(null, true);
                                showinfo(data.Pesan);
                            }
                            else {
                                showalert(data.Pesan);
                            }
                            $.unblockUI();
                        },
                        error: function (jqXHR, textStatus, errorThrown) { showmsg("Error", errorThrown); $.unblockUI(); }
                    });
                });
        } else {
            showmsg('Peringatan', 'File tidak ditemukan');
        }
    }
    
    $('#tblSuratTTE tbody').delegate('tr b', 'click', function (e) {
        e.preventDefault();
        var data = dtableDaftarSuratTTE.row($(this).closest('tr')).data();
        var id = data.ExpoSertipikatId;
        var nmr = data.NamaAcara + "\na/n" + data.NamaPeserta ;
        swal({
            title: "Konfirmasi TTE",
            text: "Sertifikat : " + nmr + "\nHarap masukkan PassPhrase anda",
            type: "input",
            inputType: "password",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ya",
            cancelButtonText: "Batal",
            inputPlaceholder: "PassPhrase",
            showLoaderOnConfirm: true
        },
            function (inputValue) {
            if (inputValue === false) return false;
            $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
                var frm = {
                    id: id,
                    pps: inputValue
                };
            $.ajax({
                url: '@Url.Action("ProsesPenandatanganan", "TandaTanganElektronik")',
                type: "POST",
                data: frm,
                success: function (data, textStatus, jqXHR) {
                    if (data && data.Status) {
                        dtableDaftarSuratTTE.ajax.reload(null, true);
                        swal("Informasi", "Dokumen berhasil diproses", "success")
                    }
                    else {
                        swal("Peringatan", data.Pesan, "warning")
                    }
                    $.unblockUI();
                },
                error: function (jqXHR, textStatus, errorThrown) { showmsg("Error", errorThrown); $.unblockUI(); }
            });
        });
    });

    $('#tblSuratTTE tbody').delegate('tr i', 'click', function (e) {
        e.preventDefault();
        var data = dtableDaftarSuratTTE.row($(this).closest('tr')).data();
        idDok = data.ExpoSertipikatId;
        if (idDok !== null && idDok !== '') {
            var options = { "backdrop": "static", keyboard: true };
            $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });

            $.ajax({
                type: "POST",
                url: '@Url.Action("cekDokumen_expo", "TandaTanganElektronik")',
                data: { id: idDok},
                success: function (data) {
                    if (data.Status === false) {
                        showalert(data.Pesan);
                        $.unblockUI();
                    }
                    else {
                        var objurl = '@Url.Action("getDokumen_expo", "TandaTanganElektronik")?id=' + idDok;
                        objpdf = objurl;

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("DocViewer", "Konten")',
                            success: function (data) {
                                $('#myModalContent').html(data);
                                $('#myModalDocViewer').modal(options);
                                $('#myModalDocViewer').modal('show');
                                $.unblockUI();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                $.unblockUI();
                            }
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.unblockUI();
                }
            });
        } else {
            showalert("Surat belum dipilih");
        }
    });

    $("#btnCari").on("click", function (e) {
        dtableDaftarSuratTTE.ajax.reload(null, true);
    });
    
    $(document).ready(function () {
        createPagingSuratTTE();

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });

        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#myModalDocViewer').on('shown.bs.modal', function () {
            $(this).find('.modal-dialog').css({
                width: '98%',
                height: '98 %',
                'max-height': '98%'
            });
        });

        $('#back-to-top').tooltip('show');
    });
</script>