@model Surat.Models.Entities.CariDokumenTTE

<script src='@Url.Content("~/resources/js/infiniteScroll.js")'></script>

<div class="" id="dynamic_content">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Daftar Dokumen Telah Ditandatangani
            </h3>
        </div>
        <div class="title_right">
            <form class="form-horizontal" id="frmCariDokumenTTE" method="post">
                <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.MetaData, new { @class = "form-control", @placeholder = "Pencarian..." })
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="clearfix"></div>

    <table id="tblSuratTTE" class="table table-striped table-bordered" style="width:100%; background-color:white;">
        <thead>
            <tr>
                <th style="text-align:center;width:5px">#</th>
                <th style="text-align:center;width:150px">Tanggal Dibuat</th>
                <th style="width:200px">Nomor Surat</th>
                <th style="text-align:center;width:100px">Tanggal Surat</th>
                <th style="text-align:center;width:100px">Tanggal TTE</th>
                <th>Hal</th>
                <th style="width:150px">Sifat Surat</th>
                <th style="text-align:center;width:50px;">Posisi</th>
                <th style="text-align:center;width:50px;"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id='myModalDocViewer' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="x_panel" style="padding:20px">
                <div class="x_title">
                    <h2 id="docTitle">Dokumen Elektronik</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        @*<div class="col-md-8 col-sm-8 col-xs-12 form-group pull-left" id="divDoc">*@
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-left" id="divDoc">
                            <div class="col-md-12" style="margin-bottom:10px;">
                                <button class="pull-right btn btn-default" id="btnInfo" style="height:35px" title="Informasi"><i class="fa fa-info-circle"></i></button>
                            </div>
                            <div id='myModalContent'></div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 form-group pull-right" style="display:none;" id="divTTE">
                            <table id="tblTTE" class="table table-striped table-bordered" style="width:100%; background-color:white;">
                                <thead>
                                    <tr style="height:35px;">
                                        <th style="text-align:right;width:20px;">#</th>
                                        <th style="width:150px">Tanggal</th>
                                        <th>Nama</th>
                                        <th style="width:150px">Info</th>
                                    </tr>
                                </thead>
                                <tbody id="listTTE"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='DetailDokumenTTE' class='modal' style="margin-top:50px;z-index:10000;">
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="x_panel" style="padding:20px">
                <div class="x_title">
                    <h2 id="popuptitle">Status Dokumen TTE</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="table-responsive" style="padding-right:10px;">
                            <form id="frmHistory"></form>
                            <table id="myTableHistory" class="table table-striped hover" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th style="width:100px">Tanggal</th>
                                        <th style="width:100px">NIP</th>
                                        <th style="width:100px">Nama</th>
                                        <th>Jabatan</th>
                                        <th style="width:30px">Tipe</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var dtableDaftarSuratTTE;
    var createPagingSuratTTE = function () {
        dtableDaftarSuratTTE = $('#tblSuratTTE').DataTable({
            "bLengthChange": false,
            "paging": true,
            "pageLength": 15,
            "bFilter": false,
            "ordering": true,
            "info": false,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: '@Url.Action("DaftarDokumen", "TandaTanganElektronik")',
                type: "POST",
                data: function (data) { var ftp = $('#frmCariDokumenTTE').serializeArray(); data.form = ftp; ftp.push({ name: "draw", value: data.draw }, { name: "orderby", value: data.order[0]["column"] }, { name: "orderdir", value: data.order[0]["dir"] }, { name: "start", value: data.start }, { name: "length", value: data.length }, { name: "tipe", value: "sudah" }); return ftp; }
            },
            "columns": [
                { "data": "RNumber", "className": "centertaligncolumn", "width": "5px", "orderable": false },
                { "data": "TanggalDibuat", "className": "centertaligncolumn", "width": "150px" },
                { "data": "NomorSurat", "width": "200px" },
                { "data": "TanggalSurat", "className": "centertaligncolumn", "width": "100px" },
                { "data": "TanggalTTE", "className": "centertaligncolumn", "width": "150px" },
                { "data": "Perihal", "orderable": false },
                { "data": "SifatSurat", "width": "150px", "orderable": false },
                {
                    "data": null,
                    "className": "centertaligncolumn",
                    "width": "50px",
                    "orderable": false,
                    "render": function (data, type) {
                        var pos = data.PosisiTTE;
                        if (pos == "pertama") {
                            pos = "Halaman Ke 1";
                        } else if (pos == "terakhir") {
                            pos = "Halaman Terakhir";
                        } else {
                            pos = "Halaman Ke " + pos;
                        }
                        return pos;
                    }
                },
                {
                    "data": null,
                    "className": "centertaligncolumn",
                    "width": "50px",
                    "orderable": false,
                    "render": function (data, type) {
                        var link = '<i class="fa fa-eye" style="cursor: pointer;" title="Lihat Dokumen"></i>&nbsp;&nbsp;&nbsp;<b class="fa fa-info-circle" title="Info Penandatangan" style="cursor: pointer;"></b>';
                        if (data.Status == "A") {
                            link = link + '&nbsp;&nbsp;&nbsp;<r class="fa fa-trash red" style="cursor: pointer;" title="Batalkan Dokumen" onclick="hapusDokumen(\'' + data.DokumenElektronikId + '\',\'' + data.NomorSurat +'\')"></r>';
                        }
                        else if (data.Status == "R") {
                            link = link + '<r class="fa fa-times red" title="Dokumen di tolak" onclick="bukaPenolakan(\'' + data.DokumenElektronikId + '\')"></r>';
                        }
                        return link;
                    }
                }
            ]
        });
    };

    var nmrDok = "";
    var idDok = "";

    $('#tblSuratTTE tbody').delegate('tr i', 'click', function (e) {
        e.preventDefault();
        var data = dtableDaftarSuratTTE.row($(this).closest('tr')).data();
        idDok = data.DokumenElektronikId;
        nmrDok = data.NomorSurat;
        $("#listTTE").html("");
        if (idDok !== null && idDok !== '') {
            var options = { "backdrop": "static", keyboard: true };
            showloading("Membuka Dokumen Elektronik");
            $('#docTitle').html("Dokumen Elektronik : " + nmrDok);
            $.ajax({
                type: "POST",
                url: '@Url.Action("cekDokumenElektronik", "TandaTanganElektronik")',
                data: { id: idDok},
                success: function (data) {
                    if (data.Status === false) {
                        swal("Peringatan", data.Pesan, "warning");
                    }
                    else {
                        if (data.TTE) {
                            var ct = 0;
                            for (var _dt of data.listTTE) {
                                ct++;
                                $("#listTTE").append(`
                                    <tr>
                                        <td>${ct}</td>
                                        <td>${_dt.tanggal}</td>
                                        <td>${_dt.nama}</td>
                                        <td>${_dt.info}</td>
                                    </tr>
                                `)
                            }
                        } else {
                            $("#listTTE").append(`
                                <tr>
                                    <td colspan="4" style="text-align:center;">Belum ada Tanda Tangan Elektronik</td>
                                </tr>
                            `)
                        }
                        var objurl = '@Url.Action("getDokumen", "TandaTanganElektronik")?id=' + idDok;
                        objpdf = objurl;

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("DocViewerWithoutHeader", "Konten")',
                            success: function (data) {
                                $('#myModalContent').html(data);
                                $('#myModalDocViewer').modal(options);
                                $('#myModalDocViewer').modal('show');
                                closeloading();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                swal(textStatus, "Terjadi Kesalahan \n" + errorThrown, "warning");
                            }
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    swal(textStatus, "Terjadi Kesalahan \n" + errorThrown, "warning");
                }
            });
        } else {
            swal("Peringatan", "Surat belum dipilih", "warning");
        }
    });

    $('#tblSuratTTE tbody').delegate('tr b', 'click', function (e) {
        e.preventDefault();
        var data = dtableDaftarSuratTTE.row($(this).closest('tr')).data();
        idDok = data.DokumenElektronikId;
        nmrDok = data.NomorSurat;
        if (idDok !== null && idDok !== '') {
            dtableHistory.ajax.reload(null, true);
            $('#DetailDokumenTTE').modal('show');
        } else {
            swal("Peringatan", "Surat belum dipilih", "warning");
        }
    });

    var dtableHistory;
    var createPagingHistory = function () {
        dtableHistory = $('#myTableHistory').DataTable({
            "bLengthChange": false,
            "paging": true,
            "pageLength": 10,
            "bFilter": false,
            "ordering": false,
            "info": false,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: '@Url.Action("GetDetailDokumen", "TandaTanganElektronik")',
                type: "POST",
                data: function (data) { var ftp = $('#frmHistory').serializeArray(); data.form = ftp; ftp.push({ name: "draw", value: data.draw }, { name: "start", value: data.start }, { name: "length", value: data.length }, { name: "dokid", value: idDok }); return ftp; }
            },
            "columns": [
                { "data": "tanggal", "width": "120px"},
                { "data": "nip", "width": "100px" },
                { "data": "nama", "width": "200px" },
                { "data": "jabatan" },
                { "data": "tipe", "width": "30px" }
            ]
        });
    };

    @*var bukaDokumen = function (id) {
        var options = { "backdrop": "static", keyboard: true };
        if (id !== null && id !== '') {
            $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
            $.ajax({
                type: "POST",
                url: '@Url.Action("cekDokumen", "TandaTanganElektronik")',
                data: { id: id },
                success: function (data) {
                    if (data.Status === false) {
                        showalert(data.Pesan);
                        $.unblockUI();
                    }
                    else {
                        var objurl = '@Url.Action("getDokumen", "TandaTanganElektronik")?id=' + id;
                        objpdf = objurl;

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("DocViewer", "Konten")',
                            success: function (data) {
                                $('#myModalContent').html(data);
                                $('#myModalDocViewer').modal(options);
                                $('#myModalDocViewer').modal('show');
                                $.unblockUI();
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                $.unblockUI();
                            }
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.unblockUI();
                }
            });
        } else {
            showmsg('Peringatan', 'File tidak ditemukan');
        }
    }*@

    var hapusDokumen = function (id, nmr) {
        if (id !== null && id !== '') {
            swal({
                title: "Konfirmasi Penghapusan Dokumen",
                text: "No. Surat : " + nmr + "\nHarap masukkan alasan",
                type: "input",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Ya",
                cancelButtonText: "Batal",
                inputPlaceholder: "Alasan",
                showLoaderOnConfirm: true
            },
                function (inputValue) {
                    if (inputValue === false) return false;
                    $.blockUI({ message: '<div style=\"padding:10px\"><b>Sedang proses... </b><p>harap tunggu</p></div>' });
                    var frm = {
                        id: id,
                        alasan: inputValue
                    };
                    $.ajax({
                        url: '@Url.Action("HapusDokumen", "TandaTanganElektronik")',
                        type: "POST",
                        data: frm,
                        success: function (data, textStatus, jqXHR) {
                            if (data && data.Status) {
                                dtableDaftarSuratTTE.ajax.reload(null, true);
                                swal("Informasi", data.Pesan, "success");
                            }
                            else {
                                swal("Peringatan", data.Pesan, "warning");
                            }
                            $.unblockUI();
                        },
                        error: function (jqXHR, textStatus, errorThrown) { showmsg("Error", errorThrown); $.unblockUI(); }
                    });
                });
        } else {
            showmsg('Peringatan', 'File tidak ditemukan');
        }
    }

    $("#frmCariDokumenTTE").submit(function (e) {
        dtableDaftarSuratTTE.ajax.reload(null, true);
        e.preventDefault();
        return false;
    });
    $("#MetaData").keyup(function (event) {
        if (event.keyCode == 13) {
            dtableDaftarSuratTTE.ajax.reload(null, true);
        }
    });

    $(document).ready(function () {
        createPagingSuratTTE();
        createPagingHistory();

        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#myModalDocViewer').on('shown.bs.modal', function () {
            $(this).find('.modal-dialog').css({
                width: '98%',
                height: '98 %',
                'max-height': '98%'
            });
        });

        $('#back-to-top').tooltip('show');
    });

    var bukaPenolakan = function (id) {
        var options = { "backdrop": "static", keyboard: true };
        if (id !== null && id !== '') {
            $.ajax({
                type: "POST",
                url: '@Url.Action("cekPenolakan", "TandaTanganElektronik")',
                data: { dokid: id },
                success: function (data) {
                    if (data.Status === false) {
                        showalert(data.Pesan);
                        $.unblockUI();
                    } else {
                        swal({
                            title: "Informasi Penolakan",
                            text: data.Pesan,
                            icon: "info",
                            html: true
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.unblockUI();
                }
            });
        }
    }

    $("#btnInfo").click(function (e) {
        if ($('#divTTE').is(":visible")) {
            $('#divTTE').hide();
            $("#divDoc").addClass("col-md-12 col-sm-12 col-xs-12").removeClass("col-md-8 col-sm-8 col-xs-12");
        } else {
            $('#divTTE').show();
            $("#divDoc").addClass("col-md-8 col-sm-8 col-xs-12").removeClass("col-md-12 col-sm-12 col-xs-12");
        }
    });
</script>